<a href="https://colab.research.google.com/github/YYM89/MSSP607/blob/main/week2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
spam = [2,4,6,8,10]
print(spam)
hello =spam[2]
print(hello)

[2, 4, 6, 8, 10]
6

In [ ]:
letters = ['a','b','c','d']
print([int(int('3'*2)//11)])
letters[-1]

[3]

'd'

In [ ]:
letters[:2]

['a', 'b']



*   '3'*2 - string '33'
*   int('33') - interger 33
*   33\\11 = 3
*   letters[-1] - the end of the list
*   letters[:2] - the start of the begining and goes up to index 2

In [ ]:
# create a list
my_list = ['Sylvia', 'Helena', 'Maggie','Cecilia']
print(my_list)
print('Type: ', type(my_list))

# convert list to tuple
tuple_list = tuple(my_list)
print('convert to tuple',tuple_list)
print('Type: ', type(tuple_list))

# return to list
convert_back_list = list(tuple_list)
print('convert to list',convert_back_list)
print('Type: ', type(convert_back_list))

['Sylvia', 'Helena', 'Maggie', 'Cecilia']
Type:  <class 'list'>
convert to tuple ('Sylvia', 'Helena', 'Maggie', 'Cecilia')
Type:  <class 'tuple'>
convert to list ['Sylvia', 'Helena', 'Maggie', 'Cecilia']
Type:  <class 'list'>

In [ ]:
def comma_and(items):
  if not items:
    return ""
  elif len(items) == 1:
    return items[0]
  else:
    return ", ".join(items[:-1]) + ", and " + items[-1]

spam = ['apples', 'bananas', 'tofu', 'cats']
result = comma_and(spam)
print("Original list:", spam)
print("Result:", result)
print()

Original list: ['apples', 'bananas', 'tofu', 'cats']
Result: apples, bananas, tofu, and cats